<li class="sth-menu-item sth-route" (click)="showTools()">
    <div class="sth-dropdown-link">{{ 'HEADER.TOOLS.TITLE' | translate}}</div>
    <ul class="sth-dropdown">
        <li><a [routerLink]="['/topAccounts']" (click)="closeMobileMenu()">{{ 'TOP_ACCOUNTS.TITLE' | translate }}</a></li>
        <li><a [routerLink]="['/activityGraph']" (click)="closeMobileMenu()">{{ 'ACTIVITY_GRAPH.TITLE' | translate }}</a></li>
        <li><a [routerLink]="['/delegateMonitor']" (click)="closeMobileMenu()">{{ 'DELEGATE_MONITOR.TITLE' | translate }}</a></li>
        <li><a href="http://explorer.smartholdem.io/snapshots/" (click)="closeMobileMenu()">{{ 'HEADER.TOOLS.SNAPSHOTS' | translate }}</a></li>
    </ul>
</li>
